@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="center">
    <h2>Trailer Searcher</h2>
    <span>Title</span><br/><input type="text" id="inTitle" />
    <input type="button" name="submit" id="inSearch" value="Search"/>
    <hr/>
    <div id="movie-list" class="movie-list">
    </div>
</div>

