@model ShepherdCoAPI.Model.Stock
<div class="modal-body">
    <fieldset>
        <legend><b>@Model.Company</b> vompany</legend>
        <div>
            Awailable amount of stocks is <b>@Model.Amount</b>
        </div>
        <div>
            Actual price is <span style="font-weight: bold" id="stock_price_@Model.StockId">@Model.Price</span><br />
            <span>Buy stocks <input style="width: 50px" id="stocksAmount" /></span><br/>
        </div>
    </fieldset><br />
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="button" id="approve-btn" class="btn btn-success">Buy</button><br />
    <span style="text-align: center" id="message"></span>
</div>


<script type="text/javascript">
    $(function() {
        $('#approve-btn').click(function () {
            var val = $('#stocksAmount').val();
            if (val == '' || isNaN(val)) {
                $('#message').show();
                $('#message').text('Stock amount must be a number');
                $('#message').attr('class', 'red');
            } else {
                BuyStock('@Model.StockId', val);
            }
        });
    });
</script>


