@model IEnumerable<ShepherdCoAPI.Model.Order>
<div class="modal-body">
    <fieldset>
        <legend>User Orders</legend>
    </fieldset>

    @if (Model.Any())
    {
        <table id="stocks" ali>
            <tr>
                <th>Company</th>
                <th>Price</th>
                <th>Amount</th>
                <th>DateTime</th>
            </tr>
            <tbody id="tableBody"></tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@Html.DisplayFor(modelItem => item.Stock.Company)</th>
                    <th>@Html.DisplayFor(modelItem => item.Price)</th>
                    <th>@Html.DisplayFor(modelItem => item.Amount)</th>
                    <th>@Html.DisplayFor(modelItem => item.DateTime)</th>
                </tr>
            }
        </table>
    }
    else
    {
        <span>No orders</span>
    }
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>

