<div class="center">
    <h2>Synonyms</h2>
    <span>Type term:</span><br/><input type="text" id="tbTerm" /><br />
    <span>Type synonyms list:</span><br/><input type="text" id="tbSynList"/><br />
    <input type="button" name="submit" id="tbPost" value="Post"/>
    <hr/>
    <div id="synonym-list" class="synonym-list">
    </div>
</div>

